html {
  --incloo-button-color-background-primary-default-light: #0000ff;
  --incloo-button-color-border-primary-default-light: #0000aa;
  --incloo-button-color-font-primary-default-light: #fff;
  --incloo-button-color-background-primary-hover-light: #000055;
  --incloo-button-color-border-primary-hover-light: #0000aa;
  --incloo-button-color-font-primary-hover-light: #fff;
  --incloo-button-color-background-primary-active-light: #ff0000;
  --incloo-button-color-border-primary-active-light: #0000aa;
  --incloo-button-color-font-primary-active-light: #fff;
}