html {
  // buttons
  --incloo-button-color-background-primary-default-light: #0062F5;
  --incloo-button-color-border-primary-default-light: #0062F5;
  --incloo-button-color-font-primary-default-light: #FFF;
  --incloo-button-color-background-primary-hover-light: #002152;
  --incloo-button-color-border-primary-hover-light: #002152;
  --incloo-button-color-font-primary-hover-light: #FFF;
  --incloo-button-color-background-primary-focus-light: #0062F5;
  --incloo-button-color-border-primary-focus-light: #002152;
  --incloo-button-color-font-primary-focus-light: #FFF;
  --incloo-button-color-background-primary-active-light: #0062F5;
  --incloo-button-color-border-primary-active-light: #0062F5;
  --incloo-button-color-font-primary-active-light: #FFF;
  // links
  --incloo-link-color-font-primary-default-light: #0062F5;
  --incloo-link-color-font-primary-hover-light: #0062F5;
  --incloo-link-color-font-primary-focus-light: #0062F5;
  // focus
  --incloo-focus-color-default: #002152;

}