html {
  --incloo-typography-font-size-400: 1rem;
  --incloo-typography-font-size-500: 1.25rem;
  --incloo-typography-font-size-600: 1.563rem;
  --incloo-typography-font-size-700: 1.953rem;
  --incloo-typography-font-size-800: 2.441rem;
  --incloo-typography-font-size-900: 3.052rem;

  --incloo-typograaphy-line-height-headings: 1.5;
  --incloo-typograaphy-line-height-copy: 1.3rem;
}

h1, h2, h3, h4, h5, h6 {
  line-height: var(--incloo-typograaphy-line-height-headings);
  margin: 0;
}

h1 {
  font-size: var(--incloo-typography-font-size-900);
}

h2 {
  font-size: var(--incloo-typography-font-size-800);
}

h3 {
  font-size: var(--incloo-typography-font-size-700);
}

h4 {
  font-size: var(--incloo-typography-font-size-600);
}

h5 {
  font-size: var(--incloo-typography-font-size-500);
}

h6 {
  font-size: var(--incloo-typography-font-size-400);
}

p, li, a {
  font-size: var(--incloo-typography-font-size-500);
  line-height: var(--incloo-typograaphy-line-height-copy);
  margin: 0;
}

p + p, li + li {
  margin-top: calc(var(--incloo-typograaphy-line-height-copy)/2);
}